/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

/* Colors */
:root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --medium-cyan: hsl(168, 34%, 41%);
    --very-dark-blue: hsl(212, 27%, 19%);
    --very-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

/* Header */
header {
    width: 100%;
    height: 550px;
    background-image: url('./assets/desktop/image-header.jpg');
    background-position: center;
    background-size: cover;
}

.container-menu {
    width: 95%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 35px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 150px;
    width: 100%;
}

.menu-desktop ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-desktop li {
    margin-right: 30px;
    color: var(--white);
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
}

.menu-desktop li:last-child {
    background-color: var(--white);
    padding: 10px;
    color: var(--black);
    border-radius: 19px;
}

.menu-desktop li:hover {
    filter: brightness(0.9);
}

.menu-desktop li:last-child:hover {
    background: rgba(255, 255, 255, 0.3);
    color: var(--white);
}

.content-banner {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
}

.content-banner .title-banner {
    color: var(--white);
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.content-banner .arrow-down {
    margin-top: 40px;
    animation-name: arrowDown;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

section.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 500px;
}

section.gallery .only-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 100px;
}

.only-text .title {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 35px;
    color: var(--very-dark-blue);
}

.only-text .description {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    color: var(--dark-grayish-blue);
    margin-top: 20px;
    line-height: 27px;
}

.only-text a {
    margin-top: 30px;
    text-decoration: none;
    font-family: 'Fraunces';
    font-weight: 700;
    text-transform: uppercase;
    color: var(--very-dark-blue);
}

.shadow-yellow {
    max-width: 140px;
    width: 100%;
    height: 5px;
    box-shadow: 3px 10px 10px var(--yellow);
    border-radius: 16px;
    margin-top: -15px;
    margin-left: -14px;
}

.shadow-soft-red {
    max-width: 140px;
    width: 100%;
    height: 5px;
    box-shadow: 3px 10px 10px var(--soft-red);
    border-radius: 16px;
    margin-top: -15px;
    margin-left: -14px;
}

section.gallery .only-image {
    background-size: cover;
    background-position: center;
}

.image-transform {
    background-image: url('./assets/desktop/image-transform.jpg');
}

.image-stand-out {
    background-image: url('./assets/desktop/image-stand-out.jpg');
}

section.gallery .mixed{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    
    padding-top: 200px;
    height: 520px;
    background-size: cover;
    background-position: center;
}

.mixed .title {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 35px;
    margin-top: 40px;
    text-transform: capitalize;
    text-align: center;
}

.mixed .description {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    line-height: 27px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.cyan {
    color: var(--medium-cyan);
}

.dark-blue {
    color: var(--dark-blue);
}

.image-graphic-design {
    background-image: url('./assets/desktop/image-graphic-design.jpg');
}

.image-photography {
    background-image: url('./assets/desktop/image-photography.jpg');
}

/* Animação */
@keyframes arrowDown {
    0% {
        margin-top: 40px;
    }

    50% {
        margin-top: 25px;
    }

    100% {
        margin-top: 40px;
    }
}